# Ignore environment 
.env

# Ignore Google Cloud Storage
src/config/tuone-446608-44616a115888.json

# Ignore pycache
__pycache__/
__pycache__

src/database_articles/

src/article_database.jsonl

src/outputs/summaries/

venv/