# Ignore environment 
#.env

# Ignore Google Cloud Storage
src/config/tuone-446608-44616a115888.json

# Ignore pycache
__pycache__/
__pycache__

src/database_articles/

src/article_database.jsonl

vault/src/companies/UAB-"Sweco-Lietuva".md

src/outputs/summaries/

venv/

vault/tables/
vault/.obsidian/

src/cached_article_database.jsonl.DS_Store

# ignore generated stuff that causes conflicts
reconcile/logs/
#reconcile/storage/figures
#reconcile/storage/output

# macOS
.DS_Store
